*{
    box-sizing: border-box;
}
body{
    background: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 400px;
}
.qw{
    width: 16px;
    height: 16px;
    background: silver;
    box-shadow: 0 0 2px white;
    margin: 2px;
    transition: 2s ease;
}
.qw:hover{
    transition-duration:0s ; /*  означає, що анімації не буде.transition-duration 0s коли мишка покине квадкатик  */

}
