*{
    box-sizing: border-box;
}
body{
    font-family: 'sans-serif';
    overflow: hidden;
    margin: 0;
    background: darkslategrey;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 100%;
    display: flex;
    padding: 0 20px;
}
.slide{

    height: 80vh;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    color: #ffff;
    width: 200px;
    background-size: cover;
    background-position:center ;
    background-repeat:no-repeat ;
    position: relative;
    transition: all 700ms ease-in-out;
}

.slide:hover{
    width: 500px;

}
.name{
    font-size: 30px;
   margin-left: 45%;
}

