.box{

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
.img{
    height: 200px;
    width: 200px;
    margin-left: 00px;

}
.title{
    margin-top: 100px;
}
.bord{
    border: 1px solid black;
    height: 0.02px;

    margin-top: 100px;
    width: 100px;
}
.price{
    margin-top: 100px;
}
