body{
    overflow: hidden;
}


.but{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 30px;
    top: 10px;
    /*border: 1px solid black;*/
    display:flex;
    justify-content:center;
    align-items: center;
}
.but span{
    /*margin: 5px;*/
    /*margin-top: 13px;*/
    width: 80%;
    height: 2px;
    background-color:black;
    position: relative;
    transition: background-color 1s 100ms;
}
.but span::before, .but span::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;

}
.but span::before{
    top: -10px;
}
.but span::after{
    bottom: -10px;
}
.res{
    position:absolute;
    /*position: relative;*/
    width: 350px;
    background: white;
    right: -50%;
    height: 93vh;
    top: 50px;
    transition: 2s;

}
.dark .res{
    background: darkgrey;
    border-top-left-radius:20px ;
    border-bottom-left-radius: 20px;
}
.click .res{
    right: 0%;
    overflow: hidden;
}
.span{
    margin-top: 107px;
    position: absolute;
    left: 5px;
}






 .switch{
    display:inline-block ;
    position: relative;
    width: 60px;
    height: 34px;
margin: 100px 100px;

    /*background-color: darkgray;*/
}

/*зараз скриваємо оформлення checkbox*/
.switch_inp{
    height: 0;
    width: 0;
    /*opacity: 0;*/
}
/*slider*/
.switch_slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 34px;
    background-color:silver;
}
.switch_slider::before{
    content: '';
    position: absolute;
    cursor: pointer;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    border-radius: 50px;
    background-color:white;
    transition: 0.5s;
}
.material-symbols-outlined{
    margin-top: 5px;
    margin-left: 4px;
}

/*стиь при фокусі*/
.switch_inp + .switch_slider{
    box-shadow: 0 0 1px blue;
}
/*стиль при виборі флага*/
.switch_inp:checked + .switch_slider::before{
    transform: translateX(26px);
}
.switch_inp:checked + .switch_slider{
    background: blue;
}
body{
    background: silver;
}
.dark body{
    background: linear-gradient(118.38deg, #29323C -4.6%, #485563 200.44%);
}
