.switch{
    display:inline-block ;
    position: relative;
    width: 60px;
    height: 34px;

    /*background-color: darkgray;*/
}

/*зараз скриваємо оформлення checkbox*/
.switch_inp{
    height: 0;
    width: 0;
    /*opacity: 0;*/
}
/*slider*/
.switch_slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 34px;
    background-color:silver;
}
.switch_slider::before{
    content: '';
    position: absolute;
    cursor: pointer;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    border-radius: 50px;
    background-color:white;
    transition: 0.5s;
}
.material-symbols-outlined{
    margin-top: 5px;
    margin-left: 4px;
}

/*стиь при фокусі*/
.switch_inp + .switch_slider{
    box-shadow: 0 0 1px blue;
}
/*стиль при виборі флага*/
.switch_inp:checked + .switch_slider::before{
transform: translateX(26px);
}
.switch_inp:checked + .switch_slider{
    background: blue;
}
body{
    background: silver;
}
.dark body{
    background: linear-gradient(118.38deg, #29323C -4.6%, #485563 200.44%);
}