
.head{
    background: silver;
    height: 100px;
    border: 2px solid black;
    border-bottom:none ;
}
@media screen and (min-width: 0) and (max-width: 972px){
    .head{
        border-radius: 20px;
        background: yellow;
        margin: 25px;
        height: 100px;
        border: 2px solid black;
    }
}
.box{
    display: flex;
}
@media screen and (min-width: 0) and (max-width: 972px) {
    .box {
        display: inline;
    }
}

.mein{

    width: 900px;
    height: 400px;
    border: 2px solid black;
    background: silver;
}
@media screen and (min-width: 0) and (max-width: 972px) {
   .mein{
       background: yellow;
       margin: 25px;
       border-radius: 20px;
       width: auto;
       height: 300px;
   }
}

.aside{
    width: 460px;
    height: 400px;
     background: silver;
    border: 2px solid black;
    border-left: none;
}
@media screen and (min-width: 0) and (max-width: 972px) {
    .aside{
     width: auto;
        height: 100px;
        background: silver;
        margin: 25px;
        border-left: 2px solid black;
        border-radius: 20px;
    }
}