         /*1 and2*/

.slide{
    height: 500px;
    width: 1300px;
    background: white;
}
.img1{
    height: 300px;
    width: 300px;
}
.img2{
    height: 300px;
    width: 300px;
}
.sliderLine{
    width: 300px;
    height: 300px;
    border: 4px solid black;
    margin: 30px auto;
    overflow: hidden;
}
.add {
    display: flex;
    width: 900px;
    height: 300px;
    background: darkseagreen;
    position: relative;
    left: 0;
    transition: all ease 2s;
}
.img3{
    height: 300px;
    width: 300px;
}

.slider-next{
    height: 30px;
    width: 100px;
    margin-left: 100px;
    top: -20px;
    position: relative;
}
.slider-back{
    height: 30px;
    width: 100px;
    margin-left: 500px;
    top: -20px;
    position: relative;
}
.hidden{
    display: none;
}











                     /*3*/

/*.sliderLine{*/
/*    height: 500px;*/
/*    width: 500px;*/
/*    border: 2px solid black;*/
/*    position: relative;*/
/*    margin-left:30% ;*/
/*    overflow: hidden;*/

/*}*/
/*.add{*/
/*    display: flex;*/
/*    width: 1500px;*/
/*    height: 500px;*/
/*    position: relative;*/

/*        transition: all ease 1s;*/
/*}*/
/*.img1{*/
/*    height: 500px;*/
/*    width: 500px;*/
/*}*/
/*.img2{*/
/*    height: 500px;*/
/*    width: 500px;*/
/*}*/
/*.img3{*/
/*    height: 500px;*/
/*    width: 500px;*/
/*}*/
/*.slide {*/
/*    height: 500px;*/
/*    width: 1500px;*/

/*}*/
/*.slider-back{*/
/*    height: 500px;*/
/*    width: 250px;*/

/*    position: relative;*/
/*left: 30.2%;*/
/*    top: -502px;*/
/*}*/
/*.slider-next{*/
/*    height: 500px;*/
/*    width: 250px;*/

/*    position: relative;*/
/*    left: 46.8%;*/
/*    top: -1002px;*/
/*}*/
/*.left{*/
/*font-size: 60px;*/
/*    margin-top: 220px;*/
/*    margin-left: 20px;*/
/*    color: rgba(60,20,40,0.9);*/
/*    position:absolute;*/
/*}*/
/*.right{*/
/*    font-size: 60px;*/
/*    margin-top: 220px;*/
/*    margin-left: 200px;*/

/*    color: rgba(60,20,40,0.9);*/

/*    position: absolute;*/
/*}*/