body{
    font-family: sans-serif;
    height: 100vh;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.slideOne{
background-image: url("https://plus.unsplash.com/premium_photo-1667323782086-7a3ea4ae9680?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8Y2xvdWRzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
}
.slideTwo{
    background-image: url("https://media.istockphoto.com/id/1346057496/es/foto/el-asombroso-poder-de-la-naturaleza.jpg?s=612x612&w=0&k=20&c=PHt497opfJ0KKcRLagoz6F-ZtYrwBeHGoCGV670u6q0=");
}
.slideThrее{
    background-image: url("https://media.istockphoto.com/id/108219377/es/foto/p%C3%BArpura-flor-gloria-de-la-ma%C3%B1ana.jpg?s=612x612&w=0&k=20&c=NgDKMycwHjINbc16_Gpk2TzOve0XLQbSlJ_NCPCl6kQ=");
}
.slideFour{
    background-image: url("https://media.istockphoto.com/id/1150050227/es/foto/ola-de-calor-del-sol-extremo-y-el-fondo-del-cielo-clima-caluroso-con-concepto-de-calentamiento.jpg?s=612x612&w=0&k=20&c=M7FOGzUjCFvwwf19enSjbKVYjM4i6q9dZwngFNtA5GU=");
}
.container{
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}
.sidebar{
    height: 100%;



    width: 35%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s ease-in-out;
}
.sidebar>div{
    height: 100%;
    width: 100%;
    /*height: 50%;*/

    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}
.sidebar h1{
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: -30px;
    margin-left: 90px;
}
.main-slide{
    height: 100%;
    /*height: 50%;*/
    position: absolute;
    top: 0;
    left: 35%;
    width: 65%;
    transition: transform 0.5s ease-in-out;
}
.main-slide>div{
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center ;
    height: 100%;

    width: 100%;
}
button{
    background-color: #fff;
    border: none;
    font-size: 16px;
    padding: 15px;
    color: silver;
    cursor: pointer;

}
button:hover{/*:hover використовується для вибору елементів, коли ви наводите на них мишу.*!*/
    color: #222;
}
button:focus{/*:focusвикористовується для вибору елемента, який має фокус.*/
    outline: none;
}
.container .controls button{
    position: absolute;
    left: 35%;
    top: 50%;
    z-index: 100;
}
.container .controls .down-btn{
    transform: translateX(-100%);
    /*Функція CSS змінює положення елемента горизонтально на площині 2D.*/
    border-top-left-radius:5px ;
    border-bottom-left-radius:5px ;

}
.container .controls .up-btn{
    /*transform: translateY(-100%);*/
    transform: translateY(-100%);
    /*Функція CSS змінює положення елемента вертикально на двовимірній площині.*/
    border-top-right-radius:5px ;
    border-bottom-right-radius:5px ;

}

